- title 'Contribute'
- centered

%h1 Thank you for responding to our letter. 
%h2 Please tell us about your contribution using the following form.

- form_for @business, :url => {:controller => :businesses, :action => :new} do |f|
  %p What is the name of your business?
  %div
    = f.text_field :name, { :size => 50, :autocomplete => 'off' }
  %div
    = submit_tag 'Create', :id => :create_button, :style => "display: none;"
    
%table#results_table{:style => "display: none;"}
  %thead
    %tr
      %th{:width => '40%'} Business
      %th{:width => '35%'} Address
      %th{:width => '20%'} City
  %tbody#business_name_results
  
  
= observe_field 'business_name', :frequency => 0.25, :url => search_businesses_path(:js), :with => 'name', :before => "$('business_name').className = 'loading'", :complete => "$('business_name').className = ''", :condition => "$('business_name').value.length >= 2"
