- title "Business"

.business
  = render :partial => 'businesses/display', :locals => {:business => @business}

  - if @business.responded_at
    .responded_at
      %h3 Responded #{time_ago_in_words(@business.responded_at)}

.contribution  
  - if @contribution
    = render :partial => 'contributions/display', :locals => {:contribution => @contribution}
  - else
    %h2 Contribution
    .note= link_to "Add Contribution", new_admin_business_contribution_path(@business)

