!primary_color = #ffffff
!background_color = #000000
!color1 = #ff7f7f
!color1_dark = #660000
!color2 = #bfff7f
!color2_dark = #336600
!color3 = #7fffff
!color3_dark = #006666
!color4 = #bf7fff
!color4_dark = #330066


body
  :background-color = !background_color
  :font
    :family Verdana, Helvetica, Arial
    :size 14px
  :color = !primary_color

a
  :color = !color3

// Google talk autolinks
.gc-cs-link
  :color = !color2 "!important"
.gc-cs-content
  :color black
    
form.formtastic
  fieldset
    :border-color = !primary_color
    
table
  tr
    th
      :color = !background_color
      :background-color = !primary_color
      :border-color = !background_color
    td
      :border-color = !background_color + #555555
    &.even
      :background-color = !background_color + #333333
    &.odd
      :background-color = !background_color
      
.content
  :padding 80px 20px 20px 20px
      
#infobar
  :background-color = !color1_dark
  :position fixed
  :top 0
  :left 0
  :width 100%
  :height 40px
  :border-color = !color3_dark
  :border-bottom
    :width 5px
    :style solid
  h1
    :background-color = !color1_dark
    :font-size 28px
    :float left
    :margin 0
    :padding 8px 12px 5px 12px
    :height 40px
    :border
      :style groove
      :color = !color3_dark
      :width 0 8px 8px 0
      
menu#actions, menu#nav
  :float left
  :list-style none
  :padding 0
  :margin
    :top 10px
    :bottom 0
    :left 20px
    :right 0
  li
    :font
      :size 18px
      :weight bold
    :display inline-block
    a
      :padding 3px 6px
      :text-decoration none
      &:hover
        :background-color = !primary_color
        :color = !color1_dark
menu#actions
  :color = !primary_color
  a
    :color = !primary_color
menu#nav
  :color = !color2
  a
    :color = !color2
    
#userinfo
  :float right
  :padding 10px
  
#search_box
  :float right
  
.business, .contribution
  :margin-bottom 20px
