body {
  background-color: black;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  color: white; }

a {
  color: white; }
  a img {
    border: none; }

form.formtastic fieldset {
  border-color: white; }

table tr th {
  color: black;
  background-color: white;
  border-color: black; }
table tr td {
  border-color: #555555; }
table tr.even {
  background-color: #333333; }
table tr.odd {
  background-color: black; }
