body {
  background-color: #cccccc;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  padding: 0;
  margin: 0; }

a {
  color: #660000; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.centered {
  text-align: center; }
  .centered table {
    text-align: left; }

.big {
  font-size: xx-large; }

#container {
  width: 750px;
  margin: 0 auto;
  background: #fff; }
  #container #content {
    border: solid 5px #660000;
    padding: 20px 40px; }
  #container #header {
    margin-bottom: -3px; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  color: black; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #660000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #660000;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

#results_table {
  margin: 20px auto; }
  #results_table th {
    border-color: #660000; }

input.loading {
  background-image: url(/images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: 98% 50%; }

table {
  margin: 10px;
  border-collapse: collapse; }
  table tr td, table tr th {
    padding: 3px;
    text-align: left;
    border-style: solid;
    border-width: 1px; }
  table tr th {
    color: #cccccc;
    background-color: #660000;
    border-color: #cccccc; }
  table tr td {
    border-color: #660000; }
    table tr td.indented {
      padding-left: 10px; }

h1 .note, h2 .note, h3 .note, h4 .note, h5 .note, h6 .note {
  display: inline;
  font-size: 50%; }

#userinfo {
  float: right;
  padding: 10px;
  background-color: #006b93; }
