body {
  background-color: #cccccc;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  padding: 0;
  margin: 0; }

a {
  color: #660000; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.centered {
  text-align: center; }
  .centered table {
    text-align: left; }

.big {
  font-size: xx-large; }

#container {
  width: 750px;
  margin: 0 auto;
  background: #fff; }
  #container #content {
    border: solid 5px #660000;
    padding: 20px 40px; }
  #container #header {
    margin-bottom: -3px; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #660000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #660000;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

#results_table {
  margin: 20px auto; }

input.loading {
  background-image: url(/images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: 98% 50%; }


form.formtastic {
  text-align: left; }
  form.formtastic ul, form.formtastic ol, form.formtastic legend, form.formtastic p {
    margin: 0;
    padding: 0; }
  form.formtastic li {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px; }
  form.formtastic fieldset {
    display: block;
    *display: inline-block; }
    form.formtastic fieldset:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  form.formtastic abbr, form.formtastic acronym {
    border: 0;
    font-variant: normal;
    font-weight: normal; }
  form.formtastic ol, form.formtastic ul {
    list-style: none; }
  form.formtastic label {
    display: block;
    *display: inline-block; }
    form.formtastic label:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  form.formtastic input, form.formtastic textarea {
    vertical-align: middle; }
  form.formtastic .check_boxes input, form.formtastic .radio input {
    margin: 0; }
  form.formtastic .check_boxes label, form.formtastic .radio label {
    cursor: pointer; }
  form.formtastic .hidden {
    display: none; }
  form.formtastic .date li, form.formtastic .time li, form.formtastic .datetime li {
    float: left;
    width: auto;
    clear: none; }
  form.formtastic .date label, form.formtastic .time label, form.formtastic .datetime label {
    display: none;
    width: auto; }
  form.formtastic .date input, form.formtastic .time input, form.formtastic .datetime input {
    display: inline;
    margin: 0;
    padding: 0; }
  form.formtastic .errors {
    list-style: square; }
    form.formtastic .errors li {
      padding: 0;
      border: none;
      display: list-item;
      float: none;
      clear: both; }
  form.formtastic .inputs {
    z-index: 99; }
  form.formtastic .buttons li {
    float: left; }
  form.formtastic li {
    *display: inline-block;
    display: block; }
    form.formtastic li:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    form.formtastic li fieldset {
      border: none;
      position: relative;
      margin-top: 0px; }
    form.formtastic li legend {
      display: block;
      margin-bottom: 0; }
    form.formtastic li .label {
      display: block;
      clear: both;
      background: transparent; }
    form.formtastic li ol {
      float: left;
      margin: 0; }
      form.formtastic li ol li {
        padding: 0;
        border: 0;
        display: inline; }
  form.formtastic fieldset {
    width: auto; }
  form.formtastic ol {
    padding-left: 0; }
  form.formtastic input {
    clear: both;
    float: none; }
  form.formtastic li {
    display: block;
    clear: both;
    float: none;
    width: auto; }
    form.formtastic li ol {
      padding: 0; }
    form.formtastic li li {
      clear: none;
      width: auto; }
    form.formtastic li fieldset legend, form.formtastic li fieldset legend .label {
      display: block;
      clear: both; }
    form.formtastic li fieldset .label {
      position: relative; }
    form.formtastic li fieldset label, form.formtastic li fieldset input {
      width: auto; }
  form.formtastic .date ol, form.formtastic .time ol, form.formtastic .datetime ol {
    width: auto; }
  form.formtastic .date li, form.formtastic .time li, form.formtastic .datetime li {
    display: inline;
    clear: none;
    float: left;
    padding-right: 0; }
  form.formtastic .checkbox li, form.formtastic .radio li {
    display: block; }
  form.formtastic .checkbox input, form.formtastic .radio input {
    border: none; }
  form.formtastic label {
    display: block;
    clear: both;
    float: none;
    width: full; }
  form.formtastic input, form.formtastic textarea {
    width: auto-0; }
  form.formtastic select {
    width: full; }
  form.formtastic .errors li {
    display: list-item; }
  form.formtastic .buttons ol {
    padding-left: 0;
    padding-right: 0; }
  form.formtastic .buttons li {
    float: left;
    width: auto;
    clear: none;
    display: inline; }
  form.formtastic .buttons input {
    width: auto; }
  form.formtastic #errorExplanation {
    width: auto-0; }
  form.formtastic .label {
    #left: -0.5em;
    #position: relative; }
  form.formtastic fieldset {
    margin-top: 10px;
    border: 1px solid black; }
    form.formtastic fieldset legend {
      font-size: larger;
      padding: 0px 3px; }
    form.formtastic fieldset ol li {
      margin-top: 5px;
      padding-right: 12px; }
      form.formtastic fieldset ol li li {
        margin-top: 0; }
      form.formtastic fieldset ol li.select {
        padding-right: 0; }
      form.formtastic fieldset ol li input, form.formtastic fieldset ol li select, form.formtastic fieldset ol li textarea {
        width: 100%; }
      form.formtastic fieldset ol li.radio input {
        width: auto; }
      form.formtastic fieldset ol li.radio legend {
        font-size: inherit; }
      form.formtastic fieldset ol li p.inline-hints {
        color: #777;
        font-style: oblique;
        font-size: smaller;
        margin-left: 15px;
        margin-top: 0; }
    form.formtastic fieldset.address li.city, form.formtastic fieldset.address li.state, form.formtastic fieldset.address li.zip {
      display: inline-block; }
    form.formtastic fieldset.address li.city {
      width: 50%; }
    form.formtastic fieldset.buttons {
      border: none;
      text-align: center; }
      form.formtastic fieldset.buttons li {
        float: none; }
        form.formtastic fieldset.buttons li.commit input {
          border-width: 2px;
          font-size: larger; }
    form.formtastic fieldset .inline-errors {
      color: #660000; }

input, select, textarea {
  font-family: Trebuchet MS, Arial, sans-serif;
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px; }

select {
  padding-top: 0px;
  padding-right: 0; }
