.received#received_at
  - if @contribution.received?
    It was received #{@contribution.received_at.to_words.downcase}
  - else
    It has not yet been received.
    = link_to_remote "Mark as received today.", :url => mark_received_admin_business_contribution_path(@business.id)
