- title "Contribution"

.contribution
  = render :partial => 'contributions/display', :locals => {:contribution => @contribution}

.business
  = render :partial => 'businesses/display', :locals => {:business => @business}

