.vcard#hcard-Kristen-Laursen
  .fn Kristen Laursen
  .org MGSH Class Party Prize Committee
  .adr
    .street-address 12147 94th Ave N
    %span.locality> Maple Grove
    ,
    %span.region MN
    %span.postal-code 55369-7155
  = mail_to "Kristen@MGSHParty.com", nil, :subject => "My Contribution", :class => :email
