- title "Contribution Details"
- centered

%h1 Forget something? 
%h3 Since we already have a contribution on file for you, we'll assume something was incorrect. Please make any corrections below.

- semantic_form_for @contribution, :url => business_contribution_path(@contribution.business), :method => :put do |f|
  - f.semantic_fields_for :business do |business|
    = render :partial => 'businesses/fields', :locals => {:f => business}
      
  = render :partial => "fields", :locals => {:f => f}

  - f.buttons do
    = f.commit_button "Save"
