- title "Contribution Details"
- centered

%h1 Thank you. Now, please tell us about your contribution.


- semantic_form_for @contribution, :url => business_contribution_path(@contribution.business) do |f|
  = render :partial => "fields", :locals => {:f => f}
    
  - f.buttons do
    = f.commit_button "Save"
